.portfolio {

  @extend %sectionLayout;

  &__btns {
    display: flex;
    gap: 0.5rem;
    padding: 0 6rem 6rem;

    @include responseMode(desktop) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @include responseMode(tablet-land) {
      padding: 0 16rem 6rem;
    }
    @include responseMode(tablet) {
      flex-wrap: wrap;
      padding: 0 6rem 6rem;
      //display: grid;
      //grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    }
  }

  &__box {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 2.5rem;

    @include responseMode(desktop) {
      justify-content: center;
    }
    @include responseMode(tablet) {
      flex-flow: column nowrap;
    }
  }

  &__item {
    width: 45rem;
    height: 56rem;
    background-size: cover;
  }
}