.video {
  @extend %sectionLayout;

  &__player {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70.5rem;
    background: url('../assets/img/video-player.jpg') no-repeat center/contain;

    @include responseMode(tablet) {
      width: 76.8rem;
      max-height: 39rem;
    }

    &-btn {
      width: 13rem;
      height: 13rem;
      background: url('../assets/img/Play_hover.svg') no-repeat center/cover;

      @extend %transition;

      @extend %hoverSvgIcon;

      @include responseMode(tablet) {
        width: 7.5rem;
        height: 7.5rem;
      }
    }
  }
}
