.hamburger {
  position: fixed;
  display: none;
  width: 5rem;
  height: 2.8rem;
  right: 6rem;
  padding: 1.1rem 0;
  margin-left: 2rem;

  &__checkbox {
    display: none;
  }

  &__background {
    position: absolute;
    display: none;
    width: 5rem;
    height: 2.8rem;
    top: 0;
    background: rgba($color-primary-black, 0.5);
    @extend %transition;

    &.open {
      display: block;
      transform: scale(50, 100);
    }
  }

  &__menu {
    position: absolute;
    display: block;
    width: 5rem;
    height: 2.8rem;
    top: 0;

    & span {
      position: relative;

      &,
      &:before,
      &:after {
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 0.3rem;
        background-color: $color-secondary-white;
        z-index: 100;
        top: calc(50% - 0.15rem);
        left: 0;
        @extend %transition;
      }
      &:before {
        content: "";
        top: -1rem;
      }
      &:after {
        content: "";
        top: 1rem;
      }
    }

    &.open > span:before {
      top: 0;
      transform: rotate(45deg);
    }
    &.open > span {
      background: transparent;
    }
    &.open > span:after {
      top: 0;
      transform: rotate(-45deg);
    }

  }

  @include responseMode(desktop) {
    display: none;
  }

  @include responseMode(tablet) {
    display: inline-block;
  }

  &__nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    height: 102.4rem;
    visibility: hidden;
    background: $color-primary-black;
    @extend %transition;

    &.open {
      visibility: visible;
      right: 0;
    }

    &-list {
      padding: 13.4rem 0 0 12.7rem;
      font: 3.5rem/2 'Inter', sans-serif;

      & li:not(:last-child) {
        padding-bottom: 1.6rem;
      }
    }
  }

  //&__checkbox:checked ~ &__nav {
  //  visibility: visible;
  //  right: 0;
  //}
  //
  //&__checkbox:checked ~ &__background {
  //  display: block;
  //  transform: scale(50, 100);
  //}
  //
  //&__checkbox:checked + &__menu > span {
  //  background: transparent;
  //}
  //&__checkbox:checked + &__menu > span:before {
  //  top: 0;
  //  transform: rotate(45deg);
  //}
  //&__checkbox:checked + &__menu > span:after {
  //  top: 0;
  //  transform: rotate(-45deg);
  //}
}

