.skills {

  @extend %sectionLayout;

  &__item {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 24rem;
    padding: 10rem 2rem 0.7rem;
    background: no-repeat center top;
    text-align: center;

    @include responseMode (tablet) {
      justify-content: center;
      gap: 2rem;
      padding: 10rem 0 0;
    }
    @include responseMode(mobile-l) {
      background-size: 25%;
    }

    &:nth-child(1) {
      background-image: url("../assets/img/camera 1.svg");
    }

    &:nth-child(2) {
      background-image: url("../assets/img/video 1.svg");
    }

    &:nth-child(3) {
      background-image: url("../assets/img/image 1.svg");
    }

    &:nth-child(4) {
      background-image: url("../assets/img/mic 1.svg");
    }

    & h3 {
      font: bold 2rem/2 'Inter', sans-serif;
    }

    & p {
      width: 28rem;
      font: 1.8rem/2 'Inter', sans-serif;

      @include responseMode(tablet) {
        line-height: 1.2;
      }
    }
  }
}
