.header {
  font: 2rem/1.5 'Inter', sans-serif;
  background-color: rgba($color-primary-black, 1);
  color: rgba($color-secondary-white, 1);

  &__content {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 9rem;
    background: url("../assets/img/background-hero.jpg") no-repeat top;

    @include responseMode(tablet) {
      position: absolute;
      top: 0;
      left: 0;
      background: transparent;
      z-index: 10;
    }
  }

  &__nav-desktop {
    width: 50rem;
    margin-left: auto;

    @include responseMode(desktop) {
      display: inline-block;
    }
    @include responseMode(tablet) {
      display: none;
    }
  }
  &__nav-mobile {
    position: fixed;
    top: 0;
    right: 0;
    width: 62rem;
    height: 102.4rem;
    background: $color-primary-black;
  }


  &__lang-switch {
    width: 7rem;

    @include responseMode(tablet) {
      margin-left: auto;
      margin-right: 7rem;
    }
    @include responseMode(mobile-l) {
      margin-left: auto;
      margin-right: 7rem;
    }
  }
}