*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
}

ul[class], ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  min-height: 100vh;
  font-size: 62.5%; //define font-size = 10px = 1rem
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  scroll-behavior: smooth;

  @include responseMode(mobile-l) {
    font-size: 37.5%;
  }
  @include responseMode(mobile-s) {
    font-size: 31.25%;
  }
}

body {
  box-sizing: border-box;
}
