/*---------- HERO ----------*/

.section-hero {
  background-color: rgba($color-primary-black, 1);
  color: rgba($color-secondary-white, 1);
}

/*---------- SKILLS ----------*/

.section-skills {
  background-color: rgba($color-primary-black, 1);
  color: rgba($color-secondary-white, 1);
}

/*---------- PORTFOLIO ----------*/

.section-portfolio {
  background-color: rgba($color-primary-black, 1);
  color: rgba($color-secondary-white, 1);
}

/*---------- VIDEO ----------*/

.section-video {
  background-color: rgba($color-primary-black, 1);
  color: rgba($color-secondary-white, 1);
}

/*---------- PRICE ----------*/

.section-price {
  background-color: rgba($color-primary-black, 1);
  color: rgba($color-secondary-white, 1);
}

/*---------- CONTACTS ----------*/

.section-contacts {
  background-color: rgba($color-primary-black, 1);
  color: rgba($color-tertiary-gold, 1);
}