/*---------- HERO ----------*/

.section-hero {
  background-color: rgba($color-primary-black, 1);
  color: rgba($color-secondary-white, 1);
}

/*---------- SKILLS ----------*/

.section-skills {
  background-color: rgba($color-primary-black, 1);
  color: rgba($color-secondary-white, 1);

  &.light {
    background-color: rgba($color-secondary-white, 1);
    color: rgba($color-primary-black, 1);

    &:hover {
      color: $color-primary-black;
    }
  }
}

/*---------- PORTFOLIO ----------*/

.section-portfolio {
  background-color: rgba($color-primary-black, 1);
  color: rgba($color-secondary-white, 1);

  &.light {
    background-color: rgba($color-secondary-white, 1);
    color: rgba($color-primary-black, 1);

    &:hover {
      color: $color-primary-black;
    }
  }
}

/*---------- VIDEO ----------*/

.section-video {
  background-color: rgba($color-primary-black, 1);
  color: rgba($color-secondary-white, 1);

  &.light {
    background-color: rgba($color-secondary-white, 1);
    color: rgba($color-primary-black, 1);

    &:hover {
      color: $color-primary-black;
    }
  }
}

/*---------- PRICE ----------*/

.section-price {
  background-color: rgba($color-primary-black, 1);
  color: rgba($color-secondary-white, 1);

  &.light {
    background-color: rgba($color-secondary-white, 1);
    color: rgba($color-primary-black, 1);

    &:hover {
      color: $color-primary-black;
    }
  }
}

/*---------- CONTACTS ----------*/

.section-contacts {
  background-color: rgba($color-primary-black, 1);
  color: rgba($color-tertiary-gold, 1);
}